<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SquigeeFace_happy-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 57}, {66, 22}}</string>
			<key>spriteOffset</key>
			<string>{18, -23}</string>
			<key>spriteSize</key>
			<string>{66, 22}</string>
			<key>spriteSourceSize</key>
			<string>{120, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 459}, {66, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SquigeeFace_hurt-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 30}</string>
			<key>spriteSourceSize</key>
			<string>{55, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 141}, {55, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SquigeeFace_idle-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 57}, {56, 22}}</string>
			<key>spriteOffset</key>
			<string>{20, -23}</string>
			<key>spriteSize</key>
			<string>{56, 22}</string>
			<key>spriteSourceSize</key>
			<string>{120, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 117}, {56, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SquigeeFace_surprised-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 11}, {108, 70}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{108, 70}</string>
			<key>spriteSourceSize</key>
			<string>{120, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 102}, {108, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SquigeeTails-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 20}, {52, 62}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{52, 62}</string>
			<key>spriteSourceSize</key>
			<string>{120, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 173}, {52, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squigee_EarFlap-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {98, 90}}</string>
			<key>spriteOffset</key>
			<string>{11, -0}</string>
			<key>spriteSize</key>
			<string>{98, 90}</string>
			<key>spriteSourceSize</key>
			<string>{120, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157, 172}, {98, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squigee_normal-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 2}, {100, 88}}</string>
			<key>spriteOffset</key>
			<string>{10, -1}</string>
			<key>spriteSize</key>
			<string>{100, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 172}, {100, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squigee_walkLeft-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 4}, {98, 86}}</string>
			<key>spriteOffset</key>
			<string>{11, -2}</string>
			<key>spriteSize</key>
			<string>{98, 86}</string>
			<key>spriteSourceSize</key>
			<string>{120, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{257, 174}, {98, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squigee_walkRight-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 2}, {98, 88}}</string>
			<key>spriteOffset</key>
			<string>{11, -1}</string>
			<key>spriteSize</key>
			<string>{98, 88}</string>
			<key>spriteSourceSize</key>
			<string>{120, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 231}, {98, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Teddy-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 112}</string>
			<key>spriteSourceSize</key>
			<string>{98, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 117}, {98, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish1-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 55}</string>
			<key>spriteSourceSize</key>
			<string>{39, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 237}, {39, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish2-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 55}</string>
			<key>spriteSourceSize</key>
			<string>{39, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 264}, {39, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish3-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 55}</string>
			<key>spriteSourceSize</key>
			<string>{39, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 321}, {39, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish4-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 67}</string>
			<key>spriteSourceSize</key>
			<string>{84, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 321}, {84, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish5-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 67}</string>
			<key>spriteSourceSize</key>
			<string>{83, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 390}, {83, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>fish6-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 67}</string>
			<key>spriteSourceSize</key>
			<string>{83, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 390}, {83, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>litterbox-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{142, 68}</string>
			<key>spriteSourceSize</key>
			<string>{142, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 0}, {142, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>milk-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 48}</string>
			<key>spriteSourceSize</key>
			<string>{93, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 0}, {93, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rat1-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 39}</string>
			<key>spriteSourceSize</key>
			<string>{73, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 459}, {73, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rat2-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 46}</string>
			<key>spriteSourceSize</key>
			<string>{68, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 459}, {68, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>returnBtn-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 60}</string>
			<key>spriteSourceSize</key>
			<string>{61, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 321}, {61, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stone-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 100}</string>
			<key>spriteSourceSize</key>
			<string>{114, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 0}, {114, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stone2-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{114, 100}</string>
			<key>spriteSourceSize</key>
			<string>{114, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 70}, {114, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trashcan1-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {84, 120}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{84, 120}</string>
			<key>spriteSourceSize</key>
			<string>{92, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 50}, {84, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>trashcan2-hd.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 30}, {156, 115}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{156, 115}</string>
			<key>spriteSourceSize</key>
			<string>{160, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {156, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>spritesheet-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>spritesheet-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>